{% extends "layout.html" %}
{% block title %}MyLink Change Password Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

<H2 style="text-align: center">MyLink-Password Change</H2>

<div class="container">
    <H3>Input Password Change Information:</H3>

    <FORM METHOD=post ACTION="/change_password">
        <div class="form-group">
            <label for="oldPassword">Old Password:</label>
            <INPUT TYPE=password NAME="oldPassword">
        </div>
        <div class="form-group">
            <label for="newPassword1">New Password:</label>
            <INPUT TYPE=password NAME="newPassword1">
        </div>
        <div class="form-group">
            <label for="newPassword2">Repeat Password:</label>
            <INPUT TYPE=password NAME="newPassword2">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </FORM>
    <FORM METHOD=get ACTION="/return">
        <button type="submit" class="btn btn-default">Return</button>
    </FORM>
    {% if bad_password==True %}
    <h4 style="color: red">Incorrect Password. Try again</h4>
    {% endif %}
    {% if bad_match==True %}
    <h4 style="color: red">New Passwords Don't Match</h4>
    {% endif %}
</div>

{% endblock %}