<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <title>MyLink-User-Info-Changed</title>
</head>
<body>
    <H2 style="text-align: center">MyLink-Info Changed</H2>
    <div class="container">
        <H3>User Info Changed Successfully</H3>
        <FORM METHOD=get ACTION="/return">
            <button type="submit" class="btn btn-default">Return</button>
        </FORM>
    </div>
</body>
</html>