{% extends "layout.html" %}
{% block title %}MyLink Friends{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{%  block body %}
<body>
<H2 style="text-align: center">MyLink-Friends Page</H2>

<div class="container">
    <H3>Friends List:</H3>


    {% for friend in friends %}
    <FORM METHOD=post ACTION="/Unfriend">
        <input type="hidden" name="other" value="{{friend}}">
        <div class="form-group">
            <label for={{friend}}>{{friend}}</label>
            <button name={{friend}} type="submit" class="btn btn-default">Unfriend {{friend}}</button>
        </div>
    </FORM>
    {% endfor %}


    <H3>Your Friends Requests:</H3>


    {% for request in requested %}
    <FORM METHOD=post ACTION="/Unfriend">
        <input type="hidden" name="other" value="{{request}}">
        <div class="form-group"><label for="{{request}}">{{request}}</label>
            <button name={{request}} type="submit" class="btn btn-default">Unfriend {{request}}</button>
        </div>
    </FORM>
    {% endfor %}


    <H3>Requests Sent to You:</H3>


    {% for request in requests %}
    <FORM METHOD=post ACTION="/Unfriend">
        <input type="hidden" name="other" value="{{request}}">
        <input type="hidden" name="request" value="{{request}}">
        <div class="form-group"><label for="{{request}}">{{request}}</label>
            <button name={{request}} formaction="/Friend_Request_Sent" type="submit" class="btn btn-default">Accept Request from {{request}}</button>
            <button name={{request}}o type="submit" class="btn btn-default">Deny Request from {{request}}</button>
        </div>
    </FORM>
    {% endfor %}


    <FORM METHOD=get ACTION="/return">
        <button type="submit" class="btn btn-default">Return</button>
    </FORM>
    {% if bool==True %}
        <h4 style="color: red">Friend Action Completed.</h4>
    {% endif %}
</div>
</body>
{% endblock %}
