{% extends "layout.html" %}
{% block title %}MyLink Friend Request Sent Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

    <H2 style="text-align: center">MyLink-Friend Request Sent Page</H2>
    <div class="container">
        <H3>Friend Request Results:</H3>
        {% if now_friend==True %}
            <H3>You are now friends</H3>
        {% else %}
            <H3>Request has been sent</H3>
        {% endif %}
        <FORM METHOD=get ACTION="/Friend_Request_Page">
            <button type="submit" class="btn btn-default">Return</button>
        </FORM>
    </div>

{% endblock %}