<!DOCTYPE html>
<html>
<head>
    <TITLE>Info Form</TITLE>
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}"
          rel="stylesheet">
</head>
<body>

<H2 style="text-align: center">PictureShare User Administration</H2>




<div class="container">
    <form METHOD=post ACTION="trylogin">
        <H3>Type User and Password:</H3>
        <div class="form-group">
            <label for = "username">Username:</label>
            <INPUT TYPE=text NAME="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <INPUT TYPE=password NAME="password">
        </div>

        <INPUT TYPE=hidden NAME="action" VALUE="login">
        <INPUT TYPE=submit VALUE="Enter">
    </form>
    {% if login_failed=='Yes' %}
        <h3>Login Failed, Please try again</h3>
    {% endif %}
</div>

</body>
</html>