{% extends "layout.html" %}
{% block title %}MyLink Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{%  block body %}

        <!--<H1> Picture Share Admin Options</H1>-->
        <H1> MyLink Main Page</H1>
        <ul>
            <li> <a href="/Friend_Posts">Friend Posts List</a>
            <li> <a href="/Your_Posts">Your Posts List</a>
            <li> <a href="/new_album">Create new album</a>
            <li> <a href="/upload">Upload Picture</a>
            <li> <a href="/show_image">Show Image</a>
            <li> Delete album
            <li> Make album public
            <li> <a href="/Circles_Page">Circles Page</a>
            <li> <a href="/Friends_Page">Friends Page</a>
            <li> <a href="/Friend_Request_Page">Send a Friend Request</a>
            <li> <a href="/Change_Password_Page">Change Password</a>
            <li> <a href="/Change_User_Info_Page">Change User Information</a>
            <li> <a href="/Log_Out">Logout</a>
        </ul>

{%  endblock %}
