{% extends "layout.html" %}
{% block title %}MyLink Create Post Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="/static/css/image-picker.css">
    <script src="/static/scripts/image-picker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#get_picture").click(function () {
                $("#add_picture").fadeIn();
                $("select").imagepicker()
            });
        });
    </script>

    <H2 style="text-align: center">Create New Post</H2>

    <div class="container">
        <H3>Post Information:</H3>
        <hr>
        <FORM METHOD=post ACTION="/Create_Post">
            <div class="form-group">
                <label for="postTitle">Title:</label>
                <INPUT TYPE=text NAME="postTitle">
            </div>
            <div class="form-group">
                <label for="postText">Post Text:</label>
                <INPUT type="text" NAME="postText">
            </div>
<br>

        <button type="button" class="btn btn-default" id="get_picture">Add Picture</button>
        <br>
        <br>

         <div id="add_picture" class="container-fluid" style="display: none">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" name='albums' id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-expanded="true">
                        My Albums
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        {% for album in albums %}
                            <input type="hidden" name="hid_album" value="{{ album['name'] }}">
                            <li><a role="menuitem" tabindex="-1"  href="{{ url_for( 'create_post_page', album=album['name']) }}"
                                  >{{ album['name'] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <select name="pictures" multiple="multiple" class="image-picker js-masonry">
                    {% for image in pictures %}
                        <option data-img-src="images/{{ session['username'] }}/{{ image['path'] }}" value="{{ image['picid'] }}"></option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </FORM>

    <br>

        <FORM METHOD=get ACTION="/return">
            <button type="submit" class="btn btn-default">Return</button>
        </FORM>
    </div>

    <script>$("select").imagepicker()</script>
    <script src="/static/scripts/masonry.pkgd.min.js"></script>



{% endblock %}