{% extends "layout.html" %}
{% block title %}MyLink Home Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

    <H2 style="text-align: center">MyLink Home</H2>


    <ul class="">
    <H3>Posts:</H3>
        {% for post in posts %}
            <div style="border-radius: 3px" class="z-depth-1 white">
                <H3 style="display: inline">{{ post.0 }} </H3>

                <H5 style="display: inline; text-align: right">By: {{ post.1 }}</H5>
                <br>
                {% for picture in post.3 %}
                    <img src="{{ picture }}" alt="post_picture" style="width:300px;height:300px">
                {% endfor %}
                <p1>{{ post.2 }}</p1>
            </div>
            <br>
        {% endfor %}
    </ul>





{% endblock %}