{% extends "layout.html" %}
{% block title %}MyLink Upload Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<H2 style="text-align: center">MyLink-User Info</H2>

<div class="container">
    <H3>{{info.0}}:</H3>
    <br>
    <P1>Age: {{info.1}}</P1>
    <br>
    <P1>Date of Birth: {{info.2}}</P1>
    <br>
    <P1>Relationship Status: {{info.3}}</P1>
    <br>
    <P1>Occupation: {{info.4}}</P1>
    <br>
    <P1>Level of Education: {{info.5}}</P1>
    <br>
    <P1>Home Address: {{info.6}}</P1>
    <br>
    <P1>Phone Number: {{info.7}}</P1>
    <br>
    <P1>Desc: {{info.8}}</P1>
    <br>
    <FORM METHOD=get ACTION="/return">
        <button type="submit" class="btn btn-default">Return</button>
    </FORM>
</div>

{% endblock %}