{% extends "layout.html" %}
{% block title %}MyLink Your Posts Page{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{%  block body %}

<H2 style="text-align: center">MyLink-Your Posts Page</H2>

<div class="container">
    <H3>Your Posts:</H3>
    <hr>
    {% for post in posts %}
        <H2>{{post.0}}</H2><H3>By: {{post.1}}</H3>
        <p1>{{post.2}}</p1>
        <hr>
    {% endfor %}

    <FORM METHOD=get ACTION="/Create_Post">
        <button type="submit" class="btn btn-default">Create A New Post</button>
    </FORM>
    <FORM METHOD=get ACTION="/return">
        <button type="submit" class="btn btn-default">Return</button>
    </FORM>
</div>


{%  endblock %}